
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height:10rem;
    padding: 0px 100px;
    background-color: white;
    z-index: 1;
    box-shadow: -1px 4px 10px -6px rgba(189,189,189,1);
    transition: 0.5s ease-in-out;    
    .first{
        // border: 1px solid red;    

        img{
             width: 8.5rem;
             height: 7rem;    
             transition: 0.5s ease-in-out;    
       
        }
    }
    .second{
        // border: 1px solid red;    

        display: flex;
        gap: 3rem;
            span{
                font-family: Gilroy_Bold;
                font-size: 20px;
                display: grid;
                place-content: center;
                cursor: pointer;
                    
            }
            .item1{
                &:hover { color: #f0148c; }                
            }
            .item2{
                &:hover { color: deepskyblue }                
            }
            .item3{
                &:hover { color: #a0248c; }                
            }
            .item4{
                &:hover { color: orange; }                
            }
            .item5{
                &:hover { color: #f84c1c }                
            }
            .item6{
                &:hover { color: #3fb91e; }                
            }
            .item7{
                font-size: 30px;
                font-family: Gilroy_thin;
            }
            
        .searchbox{
            display: flex;
            align-items: center;
        }

    }

    
}
.bar {
    height: 4rem;
    .first{
        img{
             width: 3.5rem;
             height: 3rem;           
        }
    }
}

@media screen and (max-width: 1580px) {
    .navbar{
        height:9rem;
    }
}